<a href="https://colab.research.google.com/github/YulianaVega1/DataVisualization/blob/main/DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DS and Pandas**

It is the Excel of Python.

In [1]:
# Libraries

import numpy as np
import pandas as pd

# **2. Series**

A Series is a one dimensional object.

## **2.1. Series Creation**

In [2]:
# Empty Series

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

<ipython-input-2-99c40c9e7307>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_empty = pd.Series()

In [3]:
# Create a Series by typing values

s_int = pd.Series([1,2,3,4,5,6,7,8,9])
print(s_int)

s_str = pd.Series(['Nicolas', 'Luisa', 'José'])
print(s_str)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    Nicolas
1      Luisa
2       José
dtype: object

In [4]:
# Create a Serie with random numbers

s_rand = pd.Series(np.random.rand(10))
print(s_rand)

0    0.429750
1    0.579817
2    0.732505
3    0.165669
4    0.849232
5    0.507640
6    0.044551
7    0.493343
8    0.912648
9    0.545440
dtype: float64

## **2.2 Indexing**

In [5]:
# Check the index of a Series

s_rand.index

RangeIndex(start=0, stop=10, step=1)

In [6]:

# create your own index

new_index = ['A','B','C']
s_str3 = s_str.set_axis(new_index)
print(s_str3)

A    Nicolas
B      Luisa
C       José
dtype: object

## **2.3. Select and Slice**

In [7]:
# Simple Selection
s_str3['B']
s_str3[1]

'Luisa'

In [8]:
# Select different elements
s_rand[[3,8]]

3    0.165669
8    0.912648
dtype: float64

In [9]:
# Another way
s_rand[:3]

0    0.429750
1    0.579817
2    0.732505
dtype: float64