<a href="https://colab.research.google.com/github/YulianaVega1/DataVisualization/blob/main/Phyton_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Here, in this file, we are going to *code*

We are going to understand Phyton, how it works, and some tricks.

# 1. What is Phyton?

It was created in 1991 and it is a **general-purposue programming language**

This means that Phyton is used for:

* Data analysis
* Automating task
* Machine learning
* Data visualization
* Optimization
* Web development
* User interfaces creation
* Create another sofware
* Create videogames

The world runs on Phyton, C ++, Java and HTML / CSS and R?

# 2. Why Phyton?

The main reasons:

* It's very simple

* Focus

* Open-source: It's free. 

* Cross-platform.

* Extensive libraries

# 3. Getting Started

## 3.1 Phyton as a calculator

In [ ]:
# Addition
2 + 3

5

In [ ]:
# Subtraction

5 - 4

1

In [ ]:
# Multiplication 

3 * 4

12

In [ ]:
# Division

4 / 2

2.0

In [ ]:
# Integer Division
10 // 3

3

In [ ]:
# Exponential

2**3

8

## 3.2 Composite operations and Parenthesis 

Operation precedence

In [ ]:
# Example

2 + 3 * 4

14

You can change the operator precedence using **Parenthesis**

In [ ]:
# Example
(2 + 3) * 4

20

## Integers and Real numbers

In [ ]:
# Integers (with no decimal position)

type(26)

int

In [ ]:
# Real Number (Decimal position)

type(26.0)

float

In [ ]:
# Examples

# Find out if the next expression are int or float

2 + 3.0

2.5*7

4.0/2

In [ ]:
type(2+3.0)

float

In [ ]:
type(2.5*7)

float

In [ ]:
type(4.0/2)

float

## Scientific notation

In [ ]:
# Example 

5e1

50.0

In [ ]:
6e-2

0.06

In [ ]:
type(6e2)

float

In [ ]:
# Practice 

# Write 1million in scientific notation
# What is the result of 3e0.2

In [ ]:
1e6

1000000.0

## Transformation

You can change the type() of a number, or you can force a type() of a number

In [ ]:
# Example

float(6)

6.0

In [ ]:
int(3.33333)

3

# Print

In [ ]:
# Example with text

print(' Hello world')

 Hello world

In [ ]:
print('First name: Yuliana', 'Second name: Lizeth')

print('First name: Yuliana', '\tSecond name: Lizeth')

print('First name: Yuliana', '\nSecond name: Lizeth')

First name: Yuliana Second name: Lizeth
First name: Yuliana 	Second name: Lizeth
First name: Yuliana
Second name: Lizeth

In [ ]:
# Example text and numbers

print('My lucky number is:', 5)

My lucky number is: 5

## **Round**

It will tell us to control the decimal positions.

In [ ]:
# Example

# Consider 8,5245645

# Let's use round

round(8.5245645,0)

9.0

In [ ]:
print('When I use round with the number', 8.5245645, 'the result is:')
round(8.5245645,0)

When I use round with the number 8.5245645 the result is:

9.0

In [ ]:
print('When I use round with the number', 8.5245645, 'the result is:')
round(8.5245645,)

When I use round with the number 8.5245645 the result is:

8.5

In [ ]:
print('The aproximation of', 8.5245645, 'with:')
print('decimals', 'Results')
print(0 ,'\t', round(8.5245645,0))
print(1,'\t ', round(8.5245645,1))

The aproximation of 8.5245645 with:
decimals Results
0 	 9.0
1 	  8.5

In [3]:
print('The aproximation of', 8.5245645, 'with:')
print('decimals', 'Results')
for i in range(0,8): print(i, '\t', round(8.45645,i))

The aproximation of 8.5245645 with:
decimals Results
0 	 8.0
1 	 8.5
2 	 8.46
3 	 8.456
4 	 8.4565
5 	 8.45645
6 	 8.45645
7 	 8.45645

In [7]:
print('The first', 100, 'multiples of', 2, 'are:')
for i in range(1,101): print(i, '\t', 2*i)

The first 100 multiples of 2 are:
1 	 2
2 	 4
3 	 6
4 	 8
5 	 10
6 	 12
7 	 14
8 	 16
9 	 18
10 	 20
11 	 22
12 	 24
13 	 26
14 	 28
15 	 30
16 	 32
17 	 34
18 	 36
19 	 38
20 	 40
21 	 42
22 	 44
23 	 46
24 	 48
25 	 50
26 	 52
27 	 54
28 	 56
29 	 58
30 	 60
31 	 62
32 	 64
33 	 66
34 	 68
35 	 70
36 	 72
37 	 74
38 	 76
39 	 78
40 	 80
41 	 82
42 	 84
43 	 86
44 	 88
45 	 90
46 	 92
47 	 94
48 	 96
49 	 98
50 	 100
51 	 102
52 	 104
53 	 106
54 	 108
55 	 110
56 	 112
57 	 114
58 	 116
59 	 118
60 	 120
61 	 122
62 	 124
63 	 126
64 	 128
65 	 130
66 	 132
67 	 134
68 	 136
69 	 138
70 	 140
71 	 142
72 	 144
73 	 146
74 	 148
75 	 150
76 	 152
77 	 154
78 	 156
79 	 158
80 	 160
81 	 162
82 	 164
83 	 166
84 	 168
85 	 170
86 	 172
87 	 174
88 	 176
89 	 178
90 	 180
91 	 182
92 	 184
93 	 186
94 	 188
95 	 190
96 	 192
97 	 194
98 	 196
99 	 198
100 	 200