<a href="https://colab.research.google.com/github/YulianaVega1/DataVisualization/blob/main/Phyton_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Here, in this file, we are going to *code*

We are going to understand Phyton, how it works, and some tricks.

# 1. What is Phyton?

It was created in 1991 and it is a **general-purposue programming language**

This means that Phyton is used for:

* Data analysis
* Automating task
* Machine learning
* Data visualization
* Optimization
* Web development
* User interfaces creation
* Create another sofware
* Create videogames

The world runs on Phyton, C ++, Java and HTML / CSS and R?

# 2. Why Phyton?

The main reasons:

* It's very simple

* Focus

* Open-source: It's free. 

* Cross-platform.

* Extensive libraries

# 3. Getting Started

## 3.1 Phyton as a calculator

In [ ]:
# Addition
2 + 3

5

In [ ]:
# Subtraction

5 - 4

1

In [ ]:
# Multiplication 

3 * 4

12

In [ ]:
# Division

4 / 2

2.0

In [ ]:
# Integer Division
10 // 3

3

In [ ]:
# Exponential

2**3

8

## 3.2 Composite operations and Parenthesis 

Operation precedence

In [ ]:
# Example

2 + 3 * 4

14

You can change the operator precedence using **Parenthesis**

In [ ]:
# Example
(2 + 3) * 4

20

## Integers and Real numbers

In [ ]:
# Integers (with no decimal position)

type(26)

int

In [ ]:
# Real Number (Decimal position)

type(26.0)

float

In [ ]:
# Examples

# Find out if the next expression are int or float

2 + 3.0

2.5*7

4.0/2

In [ ]:
type(2+3.0)

float

In [ ]:
type(2.5*7)

float

In [ ]:
type(4.0/2)

float

## Scientific notation

In [ ]:
# Example 

5e1

50.0

In [ ]:
6e-2

0.06

In [ ]:
type(6e2)

float

In [ ]:
# Practice 

# Write 1million in scientific notation
# What is the result of 3e0.2

In [ ]:
1e6

1000000.0

## Transformation

You can change the type() of a number, or you can force a type() of a number

In [ ]:
# Example

float(6)

6.0

In [ ]:
int(3.33333)

3

# Print

In [8]:
# Example with text

print(' Hello world')

 Hello world

In [22]:
print('First name: Yuliana', 'Second name: Lizeth')

print('First name: Yuliana', '\tSecond name: Lizeth')

print('First name: Yuliana', '\nSecond name: Lizeth')

First name: Yuliana Second name: Lizeth
First name: Yuliana 	Second name: Lizeth
First name: Yuliana
Second name: Lizeth

In [23]:
# Example text and numbers

print('My lucky number is:', 5)

My lucky number is: 5

## **Round**

It will tell us to control the decimal positions.

In [26]:
# Example

# Consider 8,5245645

# Let's use round

round(8.5245645,0)

9.0

In [35]:
print('When I use round with the number', 8.5245645, 'the result is:')
round(8.5245645,0)

When I use round with the number 8.5245645 the result is:

9.0

In [37]:
print('When I use round with the number', 8.5245645, 'the result is:')
round(8.5245645,)

When I use round with the number 8.5245645 the result is:

8.5

In [48]:
print('The aproximation of', 8.5245645, 'with:')
print('decimals', 'Results')
print(0 ,'\t', round(8.5245645,0))
print(1,'\t ', round(8.5245645,1))

The aproximation of 8.5245645 with:
decimals Results
0 	 9.0
1 	  8.5

In [66]:
print('The aproximation of', 8.5245645, 'with:')
print('decimals', 'Results')
for i in range(0,8): print(i, '\t', round(8.45645,i))

The aproximation of 8.5245645 with:
decimals Results
0 	 8.0
1 	 8.5
2 	 8.46
3 	 8.456
4 	 8.4565
5 	 8.45645
6 	 8.45645
7 	 8.45645

In [ ]:

for i in range(2,101): print(i)