<a href="https://colab.research.google.com/github/YulianaVega1/DataVisualization/blob/main/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Libraries
import numpy as np
import pandas as pd
import plotly.express as px

# **1. Intro**

Database with the different tier of league of legend and the number of summoner in seven regions.

# **2. Import**

In [7]:
# Save the path

p = '/content/lol (1).xlsx'

# Read the file
d = pd.read_excel(p)

# Check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          189 non-null    object
 1   Tier            189 non-null    object
 2   Summoner count  189 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.6+ KB

In [8]:
# Check the first entries
d.head()

  Region         Tier  Summoner count
0   Eune   Challenger             200
1   Eune  Grandmaster             500
2   Eune       Master            3070
3   Eune    Diamond |            4058
4   Eune   Diamond Il            4314

In [9]:
# Check the last entries

d.tail()

    Region       Tier  Summoner count
184  North  Bronze IV           55087
185  North     Iron I           35565
186  North    Iron II           20378
187  North   Iron III            7863
188  North    Iron IV            4385

# **3. Cleaning**

## **Column Names**

In [25]:
# Change Summoner count

d.rename(columns = {"Summoner count":"Summoners"}, inplace = True)

# Change  Tier
d.rename(columns = {"Tier":"Elo"}, inplace = True)

d.head()

  Region          Elo  Summoners
0   Eune   Challenger        200
1   Eune  Grandmaster        500
2   Eune       Master       3070
3   Eune    Diamond |       4058
4   Eune   Diamond Il       4314

## **Delete columns**

In [11]:
# d = d.drop(columns = ['Time code'])
# d.head()
# I have nothing to delete

## **A few more things**

In [28]:
# (Optional) Duplicate the dataframe
dd = d

In [13]:
# Duplicate year variable
# dd["year_str"] = dd["year"].astype(str)
# Check
# dd.head()

# **4. indexing**

In [29]:
# Create an index
#Esto no es funcional dado que los índices están en la base
idx = pd.MultiIndex.from_product([dd['Region'].unique(),
                                 dd['Elo'].unique()],
                                 names = ['Region', 'Elo'])
# Reindex the dataframe
dd = dd.set_index(['Region', 'Elo'])

#Check
dd.head()

                    Summoners
Region Elo
Eune   Challenger         200
       Grandmaster        500
       Master            3070
       Diamond |         4058
       Diamond Il        4314

# **5. Basic Statistics**

In [35]:
# By variable

dd[['Summoners']].describe()

           Summoners
count     189.000000
mean    34757.708995
std     44371.935738
min        50.000000
25%      4249.000000
50%     16565.000000
75%     45859.000000
max    192655.000000

In [44]:
# By variable and by Region

dd[['Summoners']].groupby('Region').describe()

       Summoners                                                       \
           count          mean           std    min      25%      50%
Region
Eune        27.0  33413.962963  26830.900950  200.0   6454.5  33303.0
Euw         27.0  66897.851852  54416.025725  300.0  13959.0  64161.0
Jp          27.0   2860.703704   2419.636159   50.0    540.5   2364.0
Kr          27.0  79096.111111  67822.799035  300.0  13826.0  79371.0
Lan         27.0  15613.555556  12870.634030  200.0   3000.0  14421.0
Las         27.0  15002.000000  12692.559813  200.0   2629.0  14337.0
North       27.0  30419.777778  25393.067381  300.0   5843.5  29520.0


             75%       max
Region
Eune     61418.5   75325.0
Euw     123594.0  160363.0
Jp        5414.0    6914.0
Kr      136602.0  192655.0
Lan      29817.0   35703.0
Las      28958.0   34608.0
North    57114.5   73149.0

In [45]:
# By variable and by Elo
dd[['Summoners']].groupby('Elo').describe()

             Summoners                                                        \
                 count          mean           std     min      25%      50%
Elo
Bronze IV          7.0  61782.857143  47336.184294  6508.0  28958.0  55087.0
Bronze Il          7.0  66703.857143  53511.541492  5768.0  30303.0  59628.0
Bronze Ill         7.0  56551.142857  44478.452436  4994.0  26067.5  49907.0
Bronze |           7.0  67929.000000  54920.219376  6029.0  30491.0  61096.0
Challenger         7.0    221.428571     90.632697    50.0    200.0    200.0
Diamond III        7.0   5165.714286   4296.049958   305.0   2161.5   4548.0
Diamond IV         7.0   8573.285714   7464.302551   550.0   3467.5   7139.0
Diamond Il         7.0   4378.428571   3555.532349   312.0   1891.0   4052.0
Diamond |          7.0   4163.000000   3331.839582   360.0   1865.0   4058.0
Gold I             7.0  35002.285714  29598.809924  2364.0  15210.0  29520.0
Gold II            7.0  43221.142857  36959.672547  2912.0  18327.5  36590.0
Gold III           7.0  47040.142857  40694.887322  3140.0  19633.0  39303.0
Gold IV            7.0  77187.000000  65961.294158  5984.0  32566.5  66475.0
Grandmaster        7.0    522.714286    215.278668   100.0    479.5    500.0
Iron I             7.0  40467.428571  30754.656563  3921.0  18731.5  35565.0
Iron II            7.0  24538.285714  18675.175749  2529.0  11071.5  20378.0
Iron III           7.0   9598.428571   7061.450579  1968.0   4224.0   7863.0
Iron IV            7.0   3860.428571   2891.193517   531.0   1590.0   4249.0
Master             7.0   3456.000000   3279.596469   226.0   1187.0   3070.0
Platinum II        7.0  14109.142857  11503.825544   874.0   6196.5  11938.0
Platinum III       7.0  17903.571429  15120.887924  1034.0   7478.5  14942.0
Platinum IV        7.0  35757.428571  31249.875588  2170.0  14379.0  29520.0
Platinum |         7.0  11550.285714   9141.781386   852.0   5301.0  10117.0
Silver III         7.0  71886.285714  59232.406411  5541.0  31806.0  62825.0
Silver IV          7.0  81980.000000  67680.857545  6914.0  35155.5  73149.0
Silver Il          7.0  77669.142857  63584.014772  6016.0  34751.5  68869.0
Silver |           7.0  67239.714286  56002.229544  5287.0  29817.0  59142.0


                   75%       max
Elo
Bronze IV      93147.0  126675.0
Bronze Il      97198.0  146529.0
Bronze Ill     83669.0  121484.0
Bronze |       98655.5  150085.0
Challenger       300.0     300.0
Diamond III     7815.5   11353.0
Diamond IV     12255.5   20878.0
Diamond Il      6169.0   10165.0
Diamond |       5402.5   10188.0
Gold I         48732.0   85248.0
Gold II        59499.5  107392.0
Gold III       64434.0  118704.0
Gold IV       105031.0  192655.0
Grandmaster      700.0     700.0
Iron I         61453.5   83416.0
Iron II        37368.0   51982.0
Iron III       14121.5   20667.0
Iron IV         5147.5    8768.0
Master          4297.5    9927.0
Platinum II    21159.5   31240.0
Platinum III   25956.5   42479.0
Platinum IV    50025.5   89803.0
Platinum |     17464.0   24353.0
Silver III    101326.5  168573.0
Silver IV     117844.0  187798.0
Silver Il     109010.5  181275.0
Silver |       92127.5  162360.0

# **6. Filters and Pivots**

## Simple Filters

In [47]:
# Filter by Elo and save it

challenger = dd.filter(like='Challenger',axis=0)
print(challenger)

                   Summoners
Region Elo
Eune   Challenger        200
Euw    Challenger        300
Jp     Challenger         50
Kr     Challenger        300
Lan    Challenger        200
Las    Challenger        200
North  Challenger        300

In [73]:
# Filter by Region and save it

lan = dd.filter(like='Lan',axis=0)
print(lan)

                     Summoners
Region Elo
Lan    Challenger          200
       Grandmaster         500
       Master             1388
       Diamond |          2078
       Diamond Il         2057
       Diamond III        2360
       Diamond IV         3640
       Platinum |         5593
       Platinum II        6574
       Platinum III       7535
       Platinum IV       14421
       Gold I            15160
       Gold II           18490
       Gold III          19791
       Gold IV           32842
       Silver |          29805
       Silver Il         35105
       Silver III        32404
       Silver IV         35703
       Bronze |          30481
       Bronze Il         30481
       Bronze Ill        26807
       Bronze IV         29829
       Iron I            19963
       Iron II           11964
       Iron III           4650
       Iron IV            1745

## Simple Pivots

In [56]:
# Creating is a dataframe with the elo-region of summoners
er_sum = d.pivot(index = 'Elo',
                 columns = 'Region',
                 values = 'Summoners')
print(er_sum)

Region         Eune     Euw    Jp      Kr    Lan    Las  North
Elo
Bronze IV     61451  124843  6508  126675  29829  28087  55087
Bronze Il     61591  132805  5768  146529  30481  30125  59628
Bronze Ill    55199  112139  4994  121484  26807  25328  49907
Bronze |      61386  135925  6029  150085  30481  30501  61096
Challenger      200     300    50     300    200    200    300
Diamond III    4963   11353   305   10668   2360   1963   4548
Diamond IV     7946   16565   550   20878   3640   3295   7139
Diamond Il     4314   10165   312    8024   2057   1725   4052
Diamond |      4058   10188   360    6429   2078   1652   4376
Gold I        33303   64161  2364   85248  15160  15260  29520
Gold II       41611   77388  2912  107392  18490  18165  36590
Gold III      45643   83225  3140  118704  19791  19475  39303
Gold IV       72975  137087  5984  192655  32842  32291  66475
Grandmaster     500     700   100     700    500    459    700
Iron I        43536   83416  3921   79371  19963  17500  35565
Iron II       28877   51982  2529   45859  11964  10179  20378
Iron III      11259   20667  1968   16984   4650   3798   7863
Iron IV        4249    8768   531    5910   1745   1435   4385
Master         3070    9927   226    4675   1388    986   3920
Platinum II   14240   28079   874   31240   6574   5819  11938
Platinum III  17973   33940  1034   42479   7535   7422  14942
Platinum IV   35023   65028  2170   89803  14421  14337  29520
Platinum |    11431   24353   852   23497   5593   5009  10117
Silver III    67624  135029  5541  168573  32404  31208  62825
Silver IV     75325  160363  6914  187798  35703  34608  73149
Silver Il     72520  145501  6016  181275  35105  34398  68869
Silver |      61910  122345  5287  162360  29805  29829  59142

# **7. Basic line/Bar graph**

In [83]:
# Line Graph the Elo of Lan

fig = px.line(challenger, x = challenger.index.get_level_values(0), y = 'Summoners')
fig.show()