<a href="https://colab.research.google.com/github/YulianaVega1/DataVisualization/blob/main/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Libraries
import numpy as np
import pandas as pd
import plotly.express as px

# **1. Intro**

Database with the different tier of league of legend and the number of summoner in seven regions.

# **2. Import**

In [11]:
# Save the path

p = '/content/lol (1).xlsx'

# Read the file
d = pd.read_excel(p)

# Check
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          189 non-null    object
 1   Tier            189 non-null    object
 2   Summoner count  189 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.6+ KB

In [15]:
# Check the first entries
d.head()

  Region         Tier  Summoners
0   Eune   Challenger        200
1   Eune  Grandmaster        500
2   Eune       Master       3070
3   Eune    Diamond |       4058
4   Eune   Diamond Il       4314

In [17]:
# Check the last entries

d.tail()

    Region        Elo  Summoners
184  North  Bronze IV      55087
185  North     Iron I      35565
186  North    Iron II      20378
187  North   Iron III       7863
188  North    Iron IV       4385

# **3. Cleaning**

## Column Names

In [18]:
# Change Summoner count

d.rename(columns = {"Summoner count":"Summoners"}, inplace = True)

# Change  Tier
d.rename(columns = {"Tier":"Elo"}, inplace = True)

d.head()

  Region          Elo  Summoners
0   Eune   Challenger        200
1   Eune  Grandmaster        500
2   Eune       Master       3070
3   Eune    Diamond |       4058
4   Eune   Diamond Il       4314

## Delete columns

In [ ]:
# d = d.drop(columns = ['Time code'])
# d.head()
# I have nothing to delete

## A few more things

In [19]:
# (Optional) Duplicate the dataframe
dd = d